# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment files
venv/
env/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore deployment files
*.render.yaml.swp
Dockerfile

# Ignore local development files
.env
*.env
config.json
secrets.json

# Ignore all log files
*.log

# Ignore the entire database folder (adjust if needed)
database/

# Ignore dependencies
node_modules/
 
# Ignore environment files
 .env
*.env


